<a href="https://colab.research.google.com/github/fabiomarcolia/python-para-dados/blob/main/recursos_templates_python/Praticando_Pandas_vs_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Praticar e se familiarizar com Pandas e SQL
### Opera√ß√µes inspiradas em SQL para se familiarizar com Python
#### A ideia de usar PandasSQL √© para facilitar o uso do SQL diretamente no Notebook para aprender Pandas.

In [ ]:
import pandas as pd
from pandasql import sqldf

pysqldf = lambda q: sqldf(q, globals())

### Carregar os dados

In [ ]:
clientes = pd.read_excel('https://github.com/fabiomarcolia/python-para-dados/raw/refs/heads/main/dados/bases_treino/Clientes.xlsx')
enderecos = pd.read_excel('https://github.com/fabiomarcolia/python-para-dados/raw/refs/heads/main/dados/bases_treino/Enderecos.xlsx')
display(clientes)
display(enderecos)

### Tarefa 1: Selecionar as primeiras 10 linhas

In [ ]:
# Pandas
clientes.head(10)

In [ ]:
# PandasSQL
pysqldf('SELECT * FROM clientes LIMIT 10;')

### Tarefa 2: Filtrar resultados onde Idade > 18

In [ ]:
# Pandas
clientes[clientes['Idade'] > 18]

In [ ]:
# PandasSQL
pysqldf('SELECT * FROM clientes WHERE Idade > 18;')

### Tarefa 3: Ver estrutura/tipos de dados

In [ ]:
# Pandas
clientes.dtypes

In [ ]:
# PandasSQL
pysqldf('PRAGMA table_info(clientes);')

### Tarefa 4: Contar o n√∫mero de linhas

In [ ]:
# Pandas
clientes.shape[0]

In [ ]:
# PandasSQL
pysqldf('SELECT COUNT(*) FROM clientes;')

### Tarefa 5: Selecionar coluna 'Nome'

In [ ]:
# Pandas
clientes['Nome']

In [ ]:
# PandasSQL
pysqldf('SELECT Nome FROM clientes;')

### Tarefa 6: Classificar dados por coluna 'Nome'

In [ ]:
# Pandas
clientes.sort_values('Nome')

In [ ]:
# PandasSQL
pysqldf('SELECT * FROM clientes ORDER BY Nome;')

### Tarefa 7: Atualizar coluna 'Nome' para mai√∫sculas

In [ ]:
# Pandas
clientes['Nome'] = clientes['Nome'].str.upper()
clientes

In [ ]:
# PandasSQL
# Aten√ß√£o: APENAS EXEMPLO, IR√Å DAR ERRO EM RAZ√ÉO DE N√ÉO TER PERMISS√ÉO DE FAZER UPDATE NO GITHUB
pysqldf('UPDATE clientes SET Nome = UPPER(Nome);')

### Tarefa 8: Obter valores √∫nicos da coluna 'Nome'

In [ ]:
# Pandas
clientes['Nome'].unique()

In [ ]:
# PandasSQL
pysqldf('SELECT DISTINCT Nome FROM clientes;')

### Tarefa 9: Agrupar por 'Nome' e calcular soma de 'Total'

In [ ]:
# Pandas
clientes.groupby('Nome')['Total'].sum()

In [ ]:
# PandasSQL
pysqldf('SELECT Nome, SUM(Total) FROM clientes GROUP BY Nome;')

### Tarefa 10: Deletar coluna 'Endereco'

In [ ]:
# Pandas
clientes.drop(columns=['Endereco'], inplace=True)
clientes

In [ ]:
# PandasSQL
# Anten√ß√£o: Apenas exemplo. Sem permiss√£o de alterar o arquivo no Github.
pysqldf('ALTER TABLE clientes DROP COLUMN Endereco;')

### Tarefa 11: Renomear coluna 'Nome' para 'PrimeiroNome'

In [ ]:
# Pandas
clientes.rename(columns={'Nome': 'PrimeiroNome'}, inplace=True)
clientes

In [ ]:
# PandasSQL
pysqldf('ALTER TABLE clientes RENAME COLUMN Nome TO PrimeiroNome;')

### Tarefa 12: Inner Join entre clientes e endere√ßos

In [ ]:
# Pandas
clientes.merge(enderecos, on='IdCliente')

In [ ]:
# PandasSQL
pysqldf('SELECT * FROM clientes C JOIN enderecos E ON C.IdCliente = E.IdCliente;')

*   Esse notebook foi disponibilizado para os inscrito na Newsletter: [Analytics](https://mentordados.substack.com/)
*   Se ainda n√£o √© inscrito, te convido a conhecerü§ù
*   Fale comigo no Linkedin: [Fabio Mar√ßolia](https://www.linkedin.com/in/fabiomarcolia/)