### <font color='blue'>Fundamentos Python Para Análise de Dados</font>

### <font color='blue'>Entendendo Variáveis</font>

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

### Trabalhando com Variáveis

In [4]:
# Atribuindo o valor 10 à variável var
var= 10

In [ ]:
# Imprimindo o valor da variável
var

In [ ]:
# Imprimindo o valor
print(var)

In [ ]:
# Não podemos utilizar uma variável que não foi definida. Leia a mensagem de erro.
nova_var

In [9]:
var_nova = 20

In [ ]:
var_nova

In [ ]:
type(var_nova)

In [13]:
var_nova = 7.5

In [ ]:
type(var_nova)

In [15]:
x = 10

In [ ]:
x

### Declaração Variável Múltipla

In [17]:
nome1, nome2, nome3 = "Pedro", "Isabela", "Joana"

In [ ]:
nome1

In [ ]:
nome2

In [ ]:
nome3

In [26]:
carro1 = carro2 = carro3 = "BMW"

In [ ]:
carro1

In [ ]:
carro2

In [ ]:
carro3

In [ ]:
# Atenção: Python é case-sensitive, se uma variável tem maiúscula, ele não vai entender se escrever com minúscula
Carro1 

# a declarada vou carro1, por isso o erro.

> Variável pode começar com Letras, Underlines, mas não números.

In [35]:
x1 = 50

In [ ]:
x1

In [ ]:
# A Mensagem ocorre em razão da linguagem Python não permitir nomes de variáveis que começam com números
1x = 70

> Nomes reservados que não podem ser usados:

- False      
- class      
- finally    
- is         
- return
- None       
- continue   
- for        
- lambda     
- try
- True       
- def        
- from       
- nonlocal   
- while
- and        
- del        
- global     
- not        
- with
- as         
- elif       
- if         
- or         
- yield
- assert     
- else       
- import     
- pass
- break      
- except     
- in         
- raise

In [ ]:
# Não podemos usar palavras reservadas como nome de variável
break = 10

### Atribuindo variáveis a Outras e ordenando operadores

In [40]:
largura = 3

In [41]:
altura = 5

In [42]:
area = largura * altura

In [ ]:
area

In [44]:
perimetro = 2 * largura + 2 * altura

In [ ]:
perimetro

In [46]:
# A ordem dos operadores é a mesma seguida na Matemática
perimetro = 2 * (largura + 2)  * altura

In [ ]:
perimetro

### Operações com Variáveis

In [48]:
idade1 = 35

In [49]:
idade2 = 43

In [ ]:
idade1 + idade2

In [ ]:
idade2 - idade1

In [ ]:
idade2 * idade1

In [ ]:
idade2 / idade1

In [ ]:
idade2 % idade1

### Concatenando Variáveis

In [55]:
nome = "João"

In [56]:
sobrenome = "Pedro"

In [57]:
fullName = nome + " " + sobrenome

In [ ]:
fullName

## Concluído

### Se inscreva e fique atualizado: 100% Gratuito- <a href="https://mentordados.substack.com">Analytica: Dados, Carreira e IA</a>